<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="drag_card" style="background-image: url('<%= meal.photo %>')">
    <div class="description">
      <h4><%= meal.name %></h4>
    </div>
    <div class="drag_card-footer">
      <p><%= meal.price %>€</p>
    </div>
  </div>
</div>
