// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #1fbdcb;
$yellow: #f3c237;
$orange: #E67E22;
$green: #EA2B1F;
$gray: #000000;
$white: #ffffff;
$light-gray: #F4F4F4;
$light-gray2: #FAFAFA;
$medium-gray: #949292;
$dark-gray: #333333;
$white-smoke: #f2f2ed;


//$green: #70c87b;


// possible red : #EA2B1F;
