<div class="info-window">
  <h4> <%= item.meal.name %></h4>
  <p>Cooked by <strong><%= item.meal.cook.first_name %></strong></p>
    <div class="info-image" style="background: url(<%= item.meal.photo %>)">
    </div>
    <div class="info-description">
      <%= item.meal.description %>
    </div>
  </div>
</div>
