<div class="wrapper confirmation-map-container">
  <div class="text-center confirmation-box">
    <h2>Thank you for your order <%= @order.user.first_name %>!</h2>
    <br>
    You can pick up your meal between 6:00 and 8:00 pm at
      <ul>
        <% @order.items.each do |item| %>
          <li>
            <strong>
              <%= item.meal.address %>
            </strong>
          </li>
        <% end %>
      </ul>
  </div>
  <div id="map-confirmation" style="width: 100%" data-markers="<%= @markers_items.to_json %>">
  </div>

</div>
