<div class="about">
  <h3 class = "text-center">About us</h3>
  <div class="about-images">
    <figure><%= image_tag("Antoine.jpg", width: '300', height: '300', class: "avatar-large")%>
      <figcaption class = "text-center caption">Antoine Quellier</figcaption></figure>
    <figure><%= image_tag("Catarina.jpg", width: '300', height: '300', class: "avatar-large")%>
      <figcaption class = "text-center caption">Catarina Cota</figcaption></figure>
    <figure><%= image_tag("Diogo.jpg", width: '300', height: '300', class: "avatar-large")%>
      <figcaption class = "text-center caption">Diogo Telo</figcaption></figure>
    <figure><%= image_tag("Joana.jpg", width: '300', height: '300', class: "avatar-large")%>
      <figcaption class = "text-center caption">Joana Reis</figcaption></figure>
  </div>
  <p class = "text-center">~~~</p>
  <div class="about-text">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
