<div class="about" id ="about-us">
  <h3 class = "text-center">About us</h3>
  <div class="about-images">
    <figure><%= image_tag("Antoine.jpg", width: '300', height: '300', class: "avatar-large")%>
      <figcaption class = "text-center caption">Antoine Quellier<br><a href=https://www.linkedin.com/in/antoine-quellier-46464a78/><i class="fab fa-linkedin"></i> </a> <a href=https://github.com/aquellier><i class="fab fa-github-alt"></i></a></figcaption></figure>
    <figure><%= image_tag("Catarina.jpg", width: '300', height: '300', class: "avatar-large")%>
      <figcaption class = "text-center caption">Catarina Cota<br><a href=https://www.linkedin.com/in/catarinacota><i class="fab fa-linkedin"></i> </a> <a href=https://github.com/catarinacota><i class="fab fa-github-alt"></i></a></figcaption></figure>
    <figure><%= image_tag("Diogo.jpg", width: '300', height: '300', class: "avatar-large")%>
      <figcaption class = "text-center caption">Diogo Telo<br><a href=https://www.linkedin.com/in/diogo-telo><i class="fab fa-linkedin"></i> </a> <a href=https://github.com/Gittelo><i class="fab fa-github-alt"></i></a></figcaption></figure>
    <figure><%= image_tag("Joana.jpg", width: '300', height: '300', class: "avatar-large")%>
      <figcaption class = "text-center caption">Joana Reis<br><a href=https://www.linkedin.com/in/joanaferreiradosreis/><i class="fab fa-linkedin"></i> </a> <a href=https://github.com/KindScrabble><i class="fab fa-github-alt"></i></a></i></figcaption></figure>
  </div>
  <p class = "text-center">~~~</p>
  <div class="about-text">
    <p> With different backgrounds, ranging from civil engineering to business and finance, 4 students got together during Le Wagon (Batch 148), the best coding bootcamp in the World, and accepted the challenge of developing a home cooked delivery business - Food Next Door.
 </p>
  </div>
</div>
