<div class="concept wrapper info container">
  <div class="concept-details">
    <h3>Our concept</h3>
    <p> <strong>Delivering home made meals </strong><br>
    What if you had the opportunity to order a home cooked meal, instead of the standard burger, pizza or sushi? What if not having time to cook did not mean eating standardized food, but you could eat Antoine's lasagna, or Diogo's Bacalhau à Brás? Meet Food Next Door, letting you order delicious meals prepared by your neighbours, when you don't feel like cooking, are busy or you just want to try something new! <br>
    <strong>Connecting neighbours</strong> <br>
    Food Next Door enables the delivery of home made meals cooked by your neighbours. Maybe you'll find out that Dona Maria from 6th floor cooks delicious Feijoada, as you previously suspected. Or that you find that your front neighbour has amazing cooking skills. Food Next Door will make it possible to find out!<br></p>
  </div>
  <i class="fas fa-utensils" style= "font-size: 300px; color: green";></i>
</div>

