 <div class="testimonials">
   <div class="container-testimonials" id="testimonials">
        <h2 class="text-center">What our partners say</h2>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="testimonial-card">
              <div class="testimonial-body">
                <img src="https://secure.gravatar.com/avatar/4e5a2d787343e3a1ccf075c7c115f7c7?s=400&d=mm&r=g" alt="" class='cook-picture'>
                <div class="testimonial-content">
                Food Next Door enables busy people to earn extra money by doing something I love  - cooking! The team is great and all the details about posting the meal on the platform were taken care by them, so cooks only have to cook!
                </div>
                <div class="testimonial-author">
                  <strong>Antoine Quellier</strong>
                  <br>
                  Amoreiras, Lisboa
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="testimonial-card">
              <div class="testimonial-body">
                <img src="https://2.gravatar.com/avatar/8be4188bccd6238472ec92169ced6479?s=400&d=mm&r=g" class='cook-picture' alt="">
                <div class="testimonial-content">
                I always dreamed of earning money with my cooking skills, although I was never able to work on this field. Food Next Door allows me to provide great home made meals to my neighbourhood. So far it has been a great experience, as I did not know I lived near so many nice people!
                </div>
                <div class="testimonial-author">
                  <strong>Diogo Telo</strong>
                  <br>
                  Praça de Espanha, Lisboa
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="testimonial-card">
              <div class="testimonial-body">
                <img src="https://s-s.huffpost.com/contributors/lexi-herrick/headshot.jpg" class='cook-picture' alt="">
                <div class="testimonial-content">
                Starting a side business has always been part of my projects, although I always had difficulty in finding potential clients. Food Next Door enables me to cook my meals and the clients arrive at the door to get them. Wonderful!
                </div>
                <div class="testimonial-author">
                  <strong>Mónica Nabais</strong>
                  <br>
                  Graça, Lisboa
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="testimonial-card">
              <div class="testimonial-body">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSL0HT1xS7yD-_dA_VM3NaN8LWO4EisgvFYmgAllmfHoSwoWvxL" class='cook-picture' alt="">
                <div class="testimonial-content">
                I never knew I would be able to start my own business, as I don't have any business background and marketing skills. The team welcomed me very well, and after the  approval of my meals I now have an extra income!
                </div>
                <div class="testimonial-author">
                  <strong>Arthur Pfister</strong>
                  <br>
                  Saldanha, Lisboa
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="testimonial-card">
              <div class="testimonial-body">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIOPpbEq76E4c_E3QaQ071ifK4Y1GdYLB96b6JdE0lidoBym9ZJA" class='cook-picture' alt="">
                <div class="testimonial-content">
                I tried to cook for my neighboors last year, but things got very messy, as there were no platform and I was always on the phone to get clients! Food Next Door's platform is amazing, easy and very user friendly.
                </div>
                <div class="testimonial-author">
                  <strong>Marta Brás</strong>
                  <br>
                  Campo d'Ourique, Lisboa
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="testimonial-card">
              <div class="testimonial-body">
                <img src="https://s3.amazonaws.com/film.dev.testing/fs/files/production/fp_img/68969/500.dc071710c67036b5d3771bbaa8171b2373aa4f27.jpg" alt="" class='cook-picture' >
                <div class="testimonial-content">
                I worked at a Restaurant before, so I have some experience in cooking. But this is so different, in the sense that you are improving the well-being of your neighbours and the community. I feel I am making a difference. Thanks Food Next Door!
               </div>
                <div class="testimonial-author">
                  <strong>Pavel Naumov</strong>
                  <br>
                  Parques das Nações, Lisboa
                </div>
              </div>
            </div>
          </div>
        </div>
   </div>
 </div>



