 <div class="container-testimonials" id="testimonials">
      <h2 class="text-center">What our partners say</h2>
      <div class="row">
        <div class="col-md-6">
          <div class="testimonial-card">
            <div class="testimonial-body">
              <img src="https://cookforsyria.com/wp-content/uploads/2016/10/jose-pizarro-cook-for-syria.jpg" alt="" class='cook-picture'>
              <div class="testimonial-content">
               Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </div>
              <div class="testimonial-author">
                <strong>Maria Castro</strong>
                <br>
                Amoreiras, Lisboa
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="testimonial-card">
            <div class="testimonial-body">
              <img src="https://www.cookculture.com/wp-content/uploads/2017/10/Chef-Benedict-500x500.jpg" class='cook-picture' alt="">
              <div class="testimonial-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </div>
              <div class="testimonial-author">
                <strong>Diogo Telo</strong>
                <br>
                Praça de Espanha, Lisboa
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="testimonial-card">
            <div class="testimonial-body">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSahWMj7Z8UIK0Ymvk1lmPQ5xjvF2n5EKP0l0HAftFWplHVUKay" class='cook-picture' alt="">
              <div class="testimonial-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </div>
              <div class="testimonial-author">
                <strong>Mónica Nabais</strong>
                <br>
                Graça, Lisboa
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="testimonial-card">
            <div class="testimonial-body">
              <img src="http://trabalhosdocasino.com/wp-content/uploads/2016/06/Sous-Chef.jpg" class='cook-picture' alt="">
              <div class="testimonial-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </div>
              <div class="testimonial-author">
                <strong>Hugo Sousa</strong>
                <br>
                Saldanha, Lisboa
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="testimonial-card">
            <div class="testimonial-body">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPaKRorJSkB0IC2ZwQpGD-BXpn6Qqy8daQ7GGSiqAxamRbNztM" class='cook-picture' alt="">
              <div class="testimonial-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </div>
              <div class="testimonial-author">
                <strong>Marta Brás</strong>
                <br>
                Campo d'Ourique, Lisboa
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="testimonial-card">
            <div class="testimonial-body">
              <img src="https://static1.squarespace.com/static/53a8f635e4b00d7a9215774e/t/53a91798e4b08d033962c7d7/1405159101463/frankhaasnoot.png?format=500w" alt="" class='cook-picture' >
              <div class="testimonial-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </div>
              <div class="testimonial-author">
                <strong>Miguel Almeida</strong>
                <br>
                Parques das Nações, Lisboa
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>



