<div class="banner down-of-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1522791465802-47616431a4cf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c90adf7feebaa20c43c42f03eab4043b&auto=format&fit=crop&w=1034&q=80');">
  <div class="banner-content">
    <h1>You want to become a cook in our platform?</h1>
    <p>Preper delicious home cook meals for your neighbors</p>
    <%= link_to "Apply", meals_path, class:'btn btn-success btn-lg'%>
    <a href="#details"><h3 style="color: white";><i class="fas fa-arrow-circle-down"></i></h3></a>
  </div>
</div>

<div class="info-cook">
  <h2 class="text-center">What are the advantages?</h2>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="apply-card">
          <div class="apply-card-top text-center">
            <%= image_tag "https://image.flaticon.com/icons/svg/481/481486.svg", class: "apply-card-picture" %>
          </div>
          <div class="apply-card-bottom">
            <p>Cook with passion for other people, show the chef inside of you</p>
          </div>
        </div>

      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
       <div class="apply-card">
        <div class="apply-card-top text-center">
          <%= image_tag "https://image.flaticon.com/icons/svg/112/112539.svg", class: "apply-card-picture" %>
        </div>
        <div class="apply-card-bottom">
          <p>Contribute to the community helping your neighbours getting quality food</p>
        </div>
      </div>

    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
     <div class="apply-card">
      <div class="apply-card-top text-center">
        <%= image_tag "https://image.flaticon.com/icons/svg/631/631200.svg", class: "apply-card-picture" %>
      </div>
      <div class="apply-card-bottom">
       <p>Make some extra money with your cooking with your amazing cooking skills</p>
     </div>
   </div>
 </div>
</div>
</div>

