<div class="banner" style="background-image: url('https://images.unsplash.com/photo-1444952483853-7c36e902e722?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f6da868b5d1b551546dde3e0e5b363bc&auto=format&fit=crop&w=1567&q=80');">
  <div class="banner-content">
    <h1>FOOD NEXT DOOR</h1>
    <p>Order a home cooked meal</p>
    <%= link_to "See all meals", meals_path, class:'btn btn-success'%>
    <a href="#details"><h3 style="color: green";><i class="fas fa-arrow-circle-down"></i></h3></a>
  </div>
</div>
<div class="home-details" id="details">

    <div class="home-cards">
      <div class="item a text-center"><a href="#about-us"><h3>Our concept</h3>
        <p>~~~~~~~~~~~~~~~~~</p>
        <p><b>Home cooked meals delivery</b><br><em> Connecting neighbours and bring the local community together </em></p></a>
      </div>
      <div class="item b"><img src="https://images.unsplash.com/photo-1492739159057-7d1896b3c63f?ixlib=rb-0.3.5&s=8c875dac007e2b6944d9b6fb14281527&auto=format&fit=crop&w=2378&q=80" alt="" height="250px" width="350px"></div>
      <div class="item c"><img src="https://images.unsplash.com/photo-1495461199391-8c39ab674295?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7baeff72dbf865f4ca4267cbe433b4cb&auto=format&fit=crop&w=1950&q=80" alt="" height="250px" width="350px"></div>
      <div class="item d text-center"><a href="#testimonials"><h3>Our partners</h3>
        <p>~~~~~~~~~~~~~~~~~</p>
        <p><b>Local Chefs</b><br><em>Trained by Food Next Door, offering amazing meals to their neighbours</em></p></a>
      </div>
      </div>
    </div>
</div>
  <%= render 'testimonials' %>
  <div class="separator"></div>
  <%= render 'about-us' %>
  <div class="separator"></div>


