<h1>Let's schedule your Week</h1>
<div class="container">
      <h1 class="text-center" style="font-weight: lighter;"> <strong>Add a new meal</strong></h1>
      <%= render "form_week_day", form: @meal %>
  </div>
