<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="card">
    <div class="image"></div>
    <div class="description">
      <div>
        <p><%= meal.name %></p>
        <p class="sub"><%= meal.description %></p>
      </div>
    </div>
    <div class="footer">
      <div><p><%= meal.price_cents %>€</p></div>
      <div><i class="fas fa-cart-plus fa-lg"></i></div>
    </div>
  </div>
</div>
