<%= form_tag('/meals', method: :get, class: 'form-inline', remote: true) do %>
    <div class="filter">
      <label for="price" id="price_change" >Price: <%= @max_price_cents / 100 %>€</label>
      <input id="price" name="price" type="range" min="0" max="<%= @max_price_cents%>" value="<%= @max_price_cents %>" onchange="changePrice(this.value);" >
    </div>
    <div class="filter-validation-button">
      <input type="submit" value="Apply filters" id="filter-button">
    </div>
<% end %>

