    <form action="/meals" method="get" id="content">
        <input type="text" name="location" id="search" class="autocomplete animated-search-bar", placeholder=<%= current_user.address %>>
        <button type="reset" id="search-button" class="search"><%= image_tag("location.png", width: '35', height: '35')%></button>
        <div class="address-change"><i class="fas fa-angle-left"></i>  Change address</div>
    </form>




<script>
  const searchButton = document.querySelector(".search");
  const input = document.querySelector('#search');
  const expandForm = (element) => {
    searchButton.classList.toggle("close");
    input.classList.toggle("square");
    if (searchButton.classList.contains("close")) {
      input.focus();
    } else {
      input.blur();
    }
  };
  document.getElementById("search-button").addEventListener("click", expandForm);
</script>
