<!-- search bar and map button -->

<div class="wrapper-search">
  <div class="search-bar">
    <i class="fas fa-search"></i>
    <%= render "search" %>
    <button onclick="myFunction()">Click Me</button>
  </div>
</div>

<!-- cards and map -->

<div class="wrapper">
  <div class="cards-container">
    <% @meals.each do |meal| %>
      <%= render 'card', meal: meal %>
    <% end %>
  </div>
  <div id="map" data-markers="<%= @markers.to_json %>"></div>
</div>


<!-- js for the map hide/show button -->

<script>
  function myFunction() {
    var x = document.getElementById("map");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
  }
</script>
