<!-- search bar and map button -->

<div class="wrapper-search flexing-stuff">
  <div class="">
    <%= render "search" %>
  </div>

  <div class="right-part-search flexing-stuff">
    <%= render 'filters' %>
    <div class="switch-button">
      <p class="switch-text">Show Map</p>
      <label class="switch">
        <input type="checkbox" id="show-map">
        <span class="slider round"></span>
      </label>
    </div>
  </div>
</div>

<!-- cards and map -->

<div class="wrapper">
  <div class="cards-container">
    <%= render @meals%>
  </div>






  <div id="map-container">
    <%= render 'map' %>
  </div>

</div>

<script>
  const filterButton = document.getElementById('filter-button');
  const slider = document.getElementById('price_change');
  function changePrice(value) {
    slider.innerHTML='Price < '+ Math.round(value / 100) +'€';
    filterButton.click();
  }
</script>

<script>
  const map = document.getElementById('map');
  const mapContainer = document.getElementById('map-container');
  const button = document.getElementById('show-map');
  window.isMapOpen = true;
  const hideElement = (element) => {
    if (element.style.display === "none") {
      element.style.display = "block";
      window.isMapOpen = true;
    } else {
      element.style.display = "none";
      window.isMapOpen = false;
    }
  }
  const switchClasses = (element, class1, class2) => {
      element.classList.toggle(class1);
      element.classList.toggle(class2);
    }

  button.addEventListener('click', (event) => {
  var cards = document.querySelectorAll('.js-card');
    hideElement(map);
    hideElement(mapContainer);
    cards.forEach(function(el) {
      switchClasses(el, 'col-lg-4', 'col-lg-3');
    });
  })

</script>


