<div class="wrapper-search">
  <div class="search-bar">
    <i class="fas fa-search"></i>
    <%= render "search" %>
  </div>
  <!--   <div>
     <button onclick="hide_map()">Show/Hide</button>
    </div> -->
</div>

<div class="wrapper">
  <div class="cards-container">
    <% @meals.each do |meal| %>
      <%= render 'card', meal: meal %>
    <% end %>
  </div>
  <div id="map" data-markers="<%= @markers.to_json %>"></div>
</div>



