<!-- search bar and map button -->

<div class="wrapper-search flexing-stuff">
  <div class="search-bar">
    <i class="fas fa-search"></i>
    <%= render "search" %>
  </div>
    <button id="show-map">Show/Hide Map</button>
</div>

<!-- cards and map -->

<div class="wrapper">
  <div class="container cards-container">
    <div class="row">
      <div class="col-md-8" id="cards-section-left">
      <% @meals.each do |meal| %>
        <%= render 'card', meal: meal %>
      <% end %>
      </div>
      <div class="col-md-4">
         <div id="map" data-markers="<%= @markers.to_json %>"></div>
      </div>
    </div>
  </div>
</div>

<!--
<div class="wrapper-search flexing-stuff">
  <div class="search-bar flexing-stuff">
    <div>
      <i class="fas fa-search"></i>
      <%= render "search" %>
    </div>
    </div>
    <div>
      <button id="show-map">Show/Hide Map</button>
    </div>
</div> -->
