<!-- search bar and map button -->

<div class="wrapper-search flexing-stuff">
  <div class="">
    <!-- <i class="fas fa-search"></i> -->
    <%= render "search" %>
  </div>
  <div class="switch-button">
    <p class="switch-text">Show Map</p>
    <label class="switch">
      <input type="checkbox" id="show-map">
      <span class="slider round"></span>
    </label>
  </div>
</div>

<!-- cards and map -->

<div class="wrapper">
  <div class="cards-container">
    <div id="cards-section-left">
      <% @meals.each do |meal| %>
        <%= render 'card', meal: meal %>
      <% end %>
    </div>
  </div>
  <div id="map" data-markers="<%= @markers.to_json %>"></div>
</div>

<!--
<div class="wrapper-search flexing-stuff">
  <div class="search-bar flexing-stuff">
    <div>
      <i class="fas fa-search"></i>
      <%#= render "search" %>
    </div>
    </div>
    <div>
      <button id="show-map">Show/Hide Map</button>
    </div>
</div> -->

<script>
  const showElement = (element) => {
    if (element.style.display === "none") {
      element.style.display = "block";
    } else {
      element.style.display = "none";
    }
  }
  const switchClasses = (element, class1, class2) => {
    if (element.classList.contains(class1))
    {
      element.classList.remove(class1);
      element.classList.add(class2);
    } else if (element.classList.contains(class2))
    {
      element.classList.remove(class2);
      element.classList.add(class1);
    }
  }

  const map = document.getElementById('map');
  const button = document.getElementById('show-map');
  const section = document.getElementById('cards-section');

  button.addEventListener('click', (event) => {
    showElement(map);
    switchClasses(section, 'col-xs-12 col-sm-6 col-lg-3', 'col-xs-12 col-sm-6 col-lg-4');
  });
</script>
