<!-- search bar and map button -->

<div class="wrapper-search flexing-stuff">
  <div class="">
    <%= render "search" %>
  </div>

  <div class="right-part-search flexing-stuff">
    <%= render 'filters' %>
    <div class="switch-button">
      <p class="switch-text">Show Map</p>
      <label class="switch">
        <input type="checkbox" id="show-map">
        <span class="slider round"></span>
      </label>
    </div>
  </div>
</div>

<!-- cards and map -->

<div class="wrapper">
  <div class="cards-container">
    <%= render 'card_list', meals: @meals %>
  </div>
  <div id="map-container">
    <%= render 'map' %>
  </div>

</div>

<script>
  const hideElement = (element) => {
  if (element.style.display === "none") {
    element.style.display = "block";
  } else {
    element.style.display = "none";
  }
}
  const switchClasses = (element, class1, class2) => {
    if (element.classList.contains(class1))
    {
      element.classList.remove(class1);
      element.classList.add(class2);
    } else if (element.classList.contains(class2))
    {
      element.classList.remove(class2);
      element.classList.add(class1);
    }
  }

  const section = document.querySelectorAll('.col-lg-4');
  const map = document.getElementById('map');
  const button = document.getElementById('show-map');

  button.addEventListener('click', (event) => {
    hideElement(map);
    section.forEach(function(el) {
      switchClasses(el, 'col-lg-4', 'col-lg-3');
    })
  })
</script>

<script>
  function changePrice(value) {
        document.getElementById('price_change').innerHTML='Price: '+ value / 100 +'€';
      }
</script>

<script>
  function changeDistance(value) {
        document.getElementById('distance_change').innerHTML='Distance: '+ value +'km';
      }
</script>

