<div class="wrapper">

  <div class="cards-container">
    <% @meals.each do |meal| %>
      <%= render 'card', meal: meal %>
    <% end %>
  </div>

  <div id="map" data-markers="<%= @markers.to_json %>">
  </div>

</div>
