<div class="wrapper">

  <div class="cards-container">
    <% @meals.each do |meal| %>
      <%= link_to render("card", meal: meal), meal_path(meal) %>
      <%= link_to render("card", meal: meal), meal_path(meal) %>
      <%= link_to render("card", meal: meal), meal_path(meal) %>
    <% end %>
  </div>

  <div id="map" data-markers="<%= @markers.to_json %>">
  </div>

</div>
