<div class="container">
  <div>
    <h1>My Meals repository</h1>
    <h3>Approved Meals</h3>
    <div class="row">
      <% @my_meals.each do |meal| %>
      <%= link_to render("drag_card", meal: meal), meal_path(meal) %>
      <% end %>
    </div>
  </div>
  <h3>Submit a new meal for approval</h3>
  <%= link_to "Summit a My Meals for approval", new_meal_path, class: "btn btn-info" %>
  <div>
    <h1>Plan the schedule for the next 7 days:</h1>
    <% meal = @my_meals.first %>
  </div>
  <%#= link_to render("drag_card", meal: meal), meal_path(meal), class: "box" %>
</div>



