<div class="form">
  <div class="container">
      <h1 class="text-center" style=" color: #43929d; font-weight: lighter;"> <strong>Add a new meal</strong></h1>
      <%= render "form", form: @meal %>
  </div>
</div>

