<div class="food-wrapper">
  <div class="container">
      <h1 class="text-center" style="font-weight: lighter;"> <strong>Add a new meal</strong></h1>
      <%= render "form", form: @meal %>
  </div>
</div>

