.button{
  background: $green;
  padding: 10px 50px;
  border-radius: 5px;
  opacity: 0.8;
  color: white;
}

.button:hover{
  opacity: 1;
  text-decoration: none;
}

.button-review{
  width: 30px;
  height: 30px;
  background: $green;
  padding: 5px;
  border-radius: 50%;
  color: white;
  text-align: center;
}

.coupon-code-button {
  background-color: $dark-gray;
  color: $light-gray;
  margin: 0 0 0 -6px;
  padding: 10px 20px;
  height: 34px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1rem;
  vertical-align: bottom;
  border: 1px solid $dark-gray;
}

// #filter-button {
//   color: white;
//   border: none;
//   cursor: auto;
//   width: 0px;
//   &:focus {
//     outline: none !important;
//   }
// }
