.cards-container {
  height: 100%;
  // width: 100%;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.card{
  overflow: hidden;
  color: $green;
  height: 350px;
  background: $light-gray;
  margin: 20px 10px;
  box-shadow: 2px 4px 4px 2px rgba(0,0,0,0.2);
  border-radius: 2px;
}

.card a {
  text-decoration: none;
}

.card-picture {
  width: 100%;
  height: 65%;
  background-size: cover !important;
  background-position: center !important;
  transition: all 0.6s;
  &:hover {
    opacity: 0.8;
    border-top: 8px solid $green;
  }
}

.card .description{
  padding: 0 5%;
  height: 20%;
}

.card .description p{
  margin: 0;
  font-size: 16px;
  padding: 1% 0;
  color: $green;
}


.card .description .sub{
  color: $medium-gray;
  //display: block; /* Fallback for non-webkit */
  //display: -webkit-box;
  //height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: 12px;
  //line-height: $line-height;
  //-webkit-line-clamp: $lines-to-show;
  //-webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(230, 230, 230);
  height: 15%;
  padding: 0 5%;
}

.card .card-footer p{
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.card-review{
  min-height: 150px;
  display: flex;
  border-top: 1px solid rgb(220, 220, 220);
  //align-items: center;
  p{
    margin: 5px 0;
  }
}

.card-review:first-child{
  margin-top: 40px;
}

.review-name{
  margin: 5px 0;
  width: 100px;
  padding: 10px;
  text-align: center;
  p{
    margin: 5px 0;
  }
}

.review-body{
  margin: 5px 0;
  flex-grow: 1;
  padding: 10px;
}

.review-date{
  font-size: 13px;
  :last-child{
    padding-left: 20px;
  }
}
