.drag_card {
  overflow:hidden;
  width:300px;
  height: 200px;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  background-size: cover;
  background-position: center;
  position: relative;
  .sub {
  color: $light-gray;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 auto;
  font-size: 14px;
  }
  h4 {
    color:white;
  }
}

.drag_card-footer {
  height: 15%;
  padding: 0 5%;
  float:right;
  p {
  font-size: 20px;
  }
}

