.footer {

  color: #c6dacd;
  height: 400px;

  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('Footer.jpg');
  align-items: center;
  justify-content: center;
  h1 {
    padding-top: 60px;
    padding-bottom: 20px;
    margin-left: 15px;
    margin-top: 0;
  }
}
.footer-content {
  color: white;
  margin-left: 20px;
  margin-right: 10px;
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.footer-symbols {
  font-size: 30px;
  color: white;
  padding-bottom : 0px;
  padding-right: 30px;
  p {
    margin-bottom: 0;
  }
}

