.recognitionStyling{
  width: 100%;
  height: 50px;
  color: gray;
}

.simple_for {
  border: solid 1px black;
}
.labelStyling{
  width: 100%;
  color: red;
}

.detailStyling{
  width: 100%;
  border: none;
  border-bottom: 0.5px solid gray ;
}


.detailLabelStyling{
  font-weight: lighter ;
}

.form-details{
  background-color: white;
  border: 1px solid black;
  padding: 15px;
}

.form-body{
}
