.info-image {
  float: left;
  margin: 0px;
  width: 200px;
  height: 100px;
  background-size: cover !important;
  background-position: center !important;
  border-radius: 2px;
}

.info-description {
  float: right;
  text-align: justify;
}
