.info {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  .concept-details{
    width: 60%;
  }

  p {
    font-size: 17px;
    color: gray;
  }
}

.confirmation {
  padding: 50px;
  border: 2px solid $light-gray;
  border-radius: 2px;
}
