.home-cards{
  padding-top: 100px;
  display:grid;
  grid-template-columns: 400px 400px;
  grid-gap: 20px;
}

.item {
  padding: 5px;
  width: 350px;
  height: 250px;
}

.a,
.b,
{
  justify-self: start;
  background-color: white;
}

.c,
.d,
 {
  justify-self: end;
  background-color: white;
}


.home-details{
  background-color: #B7B7B7;
}
